/* src/css/Navbar.css */
.nab {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  height: 8vh;
  position: absolute;
  z-index: 1000; /* Aumenta el z-index para asegurarte de que esté encima de otros elementos */
  top: 0; /* Asegúrate de que esté en la parte superior */
  left: 0; /* Asegúrate de que cubra todo el ancho de la ventana */
  justify-content: space-between;
}

.opt{
  width: 45%;
  display: flex;
  margin-left: 10%;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  width: 100%;
  padding: 0;
}

.li{
  color: white;
  font-size: 2em;
  list-style: none;
  border-bottom: solid 3px transparent;
}

.li a{
  font-weight: 100;
}

.li:hover, .active{
  border-bottom: solid 3px white;
  transition: 0.5s;
  cursor: pointer;
}

.li a:hover, .active{
  color: rgb(153, 153, 153);
}


.lo:hover{
  cursor: pointer;
  transition: 0.5s;
}

.lo{
  height: 100%;
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  color: white;
}

.ic{
  height: 100%;
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}

.logoo {
  margin: 0.4%;
  border-radius: 50%;
}
