.nab {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    height: 8vh;
    position: absolute;
    z-index: 100;
  }

  .nab::before,.nab::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    height: 50px;
    background: url(../assets/bord.svg);
    background-position: 0 25px;
    background-repeat: repeat-x;
    background-size: 50px 50px;
  }
  
  .logoo {
    margin: 0.4%;
    border-radius: 50%;
  }
  